@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@300&display=swap');

:root {
   --primary-color: #047aed;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
}

section {
    /* min-height: ; Każda sekcja zajmuje pełną wysokość ekranu */
    padding-top: 80px; /* Ustawienie odstępu od góry, dopasowane do wysokości navbaru */
    /* margin-top: 20vh; */
}

#home {
    margin-top: 0;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 2px solid #333;
    width: 95%; /* Skrócenie szerokości bordera */
    margin: auto; /* Wycentrowanie stopki */
}

footer p {
    font-size: small;
    color: grey;
}

/* Navbar */
.navbar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    padding: 10px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px solid #fff;
}

.logo a:hover {
    border-bottom: none;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    min-height: auto;
    height: 400px;

    background-color: var(--primary-color);  
    color: #fff; 
    position: relative;

}

.showcase h1 {
    font-size: 40px;
    margin-top: 0;
}

.showcase p {
    font-size: 20px;
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    /* border-radius: 20%; */
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* .about::before, .about::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: -70px;
    z-index: -1;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    /* border-radius: 20%; */
    /* transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
} */ 

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    height: 30vh;
    overflow: hidden;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.90);
}

.project:hover {
    transform: scale(1.05);
}

.projects {
    min-height: auto;
}

.showcase-img {
    z-index: 100;
    padding: 0;
    width: 100%; /* Pełna szerokość kontenera */
    height: 40vh; /* Wysokość jako 60% wysokości widoku (responsywna) */
    /* max-height: 500px; */
    object-fit: cover; /* Przycięcie obrazu po bokach */
    object-position: center; /* Wyśrodkowanie obrazu */
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    aspect-ratio: 3 / 4;
}

/* .contact {
    margin-top: 10vh;
} */

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styl kontenera ikon - oddzielony od "showcase" */
.social-wrapper {
    position: relative;
    background-color: #fff; /* Białe tło, pasujące do efektu skew */
    padding: 20px 0; /* Dodajemy trochę przestrzeni wokół ikon */
    text-align: center; /* Ikony wyśrodkowane */
}

/* Kontener ikon */
.social-container {
    display: flex;
    justify-content: space-between;
    margin-left: 25vw;
    margin-right: 25vw;
    height: 20vh;
    align-items: center;
    gap: 15px;
}

/* Styl przycisków */
.social-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff; /* Domyślny kolor */
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Ikony wewnątrz */
/* .social-btn img {
    width: 24px;
    height: 24px;
} */

/* Różne kolory dla przycisków */
/* .youtube { background-color: #FF0000; }
.github { background-color: #181717; }
.linkedin { background-color: #0077B5; }
.circle { background-color: #5E6770; }
.coffee { background-color: #00A859; }
.user { background-color: #880E4F; } */

/* Efekt hover */
.social-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Dwie równe kolumny tekstu + jedna na zdjęcie */
    gap: 30px;
    align-items: start; /* Wyrównanie tekstu do góry */
}

.about-content,
.additional-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Gwarantuje, że tekst zaczyna się od góry */
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center; /* Wyśrodkowanie pionowe */
}

.about-image img {
    width: 100%;
    max-width: 400px; /* Zdjęcie większe */
    height: auto;
    max-height: 500px; /* Wyższe, ale responsywne */
    border-radius: 10px;
}
/* 
.about .container {
    background-color: #f4f4f4;
} */

dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    background: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 90vw;
    max-height: 70vh;
    margin-top: 5vh;
}

dialog:target {
    display: block;
}

.code {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
}

dialog a {
    color: #047aed;
    text-decoration: none;
}

.interests {
    margin-top: 10vh;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.interests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}
.interest-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 100%;
}
.interest-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.interest-card h3 {
    margin: 15px 0 10px;
}

.contact-content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 20px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.contact-links a {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-links a:hover {
    text-decoration: underline;
}

.contact-image img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.contact {
    min-height: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        text-align: center;
    }
    .contact-image img {
        max-width: 100%;
    }
}

/* ------------------- */
/* === RESPONSYWNOŚĆ === */
/* ------------------- */

/* TABLETY */
@media (max-width: 992px) {
    .showcase .grid {
        grid-template-columns: 1fr;
        text-align: center;
        place-items: center;
    }

    .showcase {
        margin-bottom: 20vh;
    }

    .showcase .showcase-img {
        height: 25vh;
        width: 25vh;
        align-self: center;
    }

    .social-container {
        margin-left: 10vw;
        margin-right: 10vw;
        flex-wrap: wrap;
        height: auto;
    }

    .about .grid {
        grid-template-columns: 1fr;
    }

    .projects .grid {
        grid-template-columns: 1fr 1fr;
    }

    .interests-grid {
        grid-template-columns: 1fr 1fr;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-image img {
        max-width: 80%;
    }
}

/* TELEFONY */
@media (max-width: 600px) {
    .navbar ul {
        align-items: flex-start;
        font-size: small;
    }

    .logo {
        display: none;
    }

    .navbar ul {
        gap: 8px;
    }

    .navbar a {
        font-size: 14px;
        padding: 2px;
        margin: 0 0;
    }

    .logo a {
        font-size: 18px;
    }

    .showcase {
        margin-bottom: 25vh;
    }

    .showcase .grid {
        grid-template-columns: 1fr;
    }

    .about .grid {
        grid-template-columns: 1fr;
    }

    .projects .grid {
        grid-template-columns: 1fr;
    }

    .interests-grid {
        grid-template-columns: 1fr;
    }

    .social-container {
        flex-direction: column;
        margin: 0 5vw;
        height: auto;
        gap: 10px;
    }

    .contact-content {
        flex-direction: column;
        text-align: start;
    }

    .contact-image img {
        display: none;
    }

    .showcase h1 {
        font-size: 28px;
    }

    .showcase p {
        font-size: 16px;
    }

    .card {
        height: auto;
    }
}
